:root {
    --very-dark-grey-blue: hsl(217, 19%, 35%);
    --desaturated-blue: hsl(214, 17%, 51%);
    --gray-blue: hsl(212, 23%, 69%);
    --light-gray-blue: hsl(210, 46%, 95%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100%;
    font-size: .8125rem;
}

img {
    max-width: 100%;
}


.avatar {
    width: 4rem;
    border-radius: 50%;
    margin-right: 1rem;
}


h1 {
    width: 90%;
}

p {
    width: 90%;
}


.container {
    width: min(80%, 1000px);
    margin: 30vh auto 2em;
}

body {
    font-family: 'Manrope', sans-serif;
    height: 100%;
    background: var(--light-gray-blue);

}

main {
    max-width: 60rem;
    background-color: #fff;

    display: grid;
    grid-template-columns: minmax(300px, 500px) 50%;
    gap: 12px;
}

section {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section-content {}



.profile {
    width: 80%;
    justify-self: flex-end;
    /* background-color: lightblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.profile-details {
    border-radius: 2px solid brown;
    display: flex;
    align-items: center;
}

.share {
    width: 5rem;
}

.profile-share {
    background: var(--desaturated-blue);
    display: none;
}

.profile-share-btn {
    cursor: pointer;
}

/* footer */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width:800px) {
    .container {
        margin: 10vh auto 2em;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section {
        padding: 2em;
    }

    .section-content h1,
    p {
        width: 100%;
        margin: 1em 0;
    }
}